@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
.model-bubble {
  position: relative; 
}
.prominent-pulse {
  animation: prominentPulse 1s ease-in-out infinite;
}
@keyframes prominentPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
.loading-indicator {
  border: 10px solid rgba(255, 255, 255, 0.3); 
  border-top: 5px solid blue; 
  border-radius: 50%;
  width: 198px; 
  height: 198px;
  animation: spin 2s linear infinite;
  position: absolute;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
